@import 'normalize';

// COLORS
$dark: RGB(53, 148, 203);
$light: RGB(108, 191, 238);

$odd-row-color: $light; 
$even-row-color: $dark;
$text-color: white;
$font-face: Lato, Serif;


// MIXINS
@mixin clearfix() {
  overflow: auto;
}

.container {
  width: 90%;
}

.timeline-row {
  @include clearfix();
  margin-top: 24px;
  position: relative;
}

.timestamp {
  float: left;
  text-align: right; 
  margin-left: 2em;

  .date {
    font-size: 16px;
  }

  .time {
    font-size: 48px;
    &:nth-child(odd) {
      color: $odd-row-color;
    }

    &:nth-child(even) {
      color: $even-row-color;
    }

  }

  &:first-child:after {
    position: absolute;
    top: 0;
    left: 12em;
    content: " ";
    width: 0.75em;
    height: 100%;
    background-color: $light;
  }

}
 
.recipe:nth-of-type(odd) {
    background-color: $odd-row-color;
  }

.recipe:nth-of-type(even) {
    background-color: $even-row-color;
  }


.recipe {
  float: left;
  width: 68%;  
  border-radius: 5px 5px;  
  margin-left: 6.25em; 
  color: white;

  h1 {
    margin: 1.75em 1.25em 1em 1.25em;
    font-size: 1.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
  }

  p {
    padding-left: 2em;
    font-size: 1.25em;
    letter-spacing: -1px;
  }

  &:before {
    position: absolute;
    content: " ";
    background-color: $dark;
    width: 2.5em;
    height: 2.5em;
    border: .5em solid $light;
    border-radius: 2.5em;
    left: 10.6em;
  }

 }
