@import 'normalize';

// COLORS
$dark: RGB(53, 148, 203);
$light: RGB(108, 191, 238);

$odd-row-color: $light; 
$even-row-color: $dark;
$text-color: white;
$font-face: Lato, Serif;
$line-color: RGB(175, 220, 248);

// MIXINS
@mixin clearfix() {
  overflow: auto;
}


.hold {
  position: relative;
}

.container {
  width: 90%;
    &:after {
      position: absolute;
      top: 0;
      left: 12em;
      content: " ";
      width: 0.75em;
      height: 100%;
      background-color: $line-color;
    }
}

.timeline-row {
  @include clearfix();
  padding-top: 24px;
  margin-top: 24px;
  position: relative;
 
  &:nth-child(odd) .recipe {
    background-color: $odd-row-color;
  }

  &:nth-child(even) .recipe {
    background-color: $even-row-color;
  }

  &:nth-child(odd) .time {
    color: $odd-row-color;
  }

  &:nth-child(even) .time {
    color: $even-row-color;
  }


}

.timestamp {
  float: left;
  text-align: right; 
  margin-left: 2em;

  .date {
    font-size: 16px;
  }

  .time {
    font-size: 48px;
   }
}


.recipe {
  float: left;
  width: 68%;  
  border-radius: 5px 5px;  
  margin-left: 6.25em; 
  color: white;
  padding-bottom: 2.8em;

  h1 {
    margin: 1.75em 1.25em 1em 1.25em;
    font-size: 1.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
  }

  p {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.25em;
    letter-spacing: -1px;
    line-height: 1.3em;
    font-weight: 100;
  }

  // CIRCLE
  &:before {
    position: absolute;
    content: " ";
    background-image: url("../img/icon-upload.png");
    background-repeat: no-repeat;
    background-position: 0.75em .8em;
    background-color: $dark;
    width: 2.5em;
    height: 2.5em;
    border: .5em solid $line-color;
    border-radius: 2.5em;
    left: 10.6em;
    top: 0;
    z-index: 2; 
  }

 }
